#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  max-height: 250px;
  padding: 1.5em 0;
  will-change: filter;
  transition: filter 300ms;
  mix-blend-mode: color-burn;
}

#logo svg {

  mix-blend-mode: color-burn;
}
#logo svg path{
  fill: #29261d!important;
  mix-blend-mode: color-burn;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div.title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}
div.title h2,
div.title h3{
  font-family: 'Vivaldi', sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 5rem;
  color: #2d2d2d;
}
div.title h2{
  font-size: 4rem;
  
}
div.title h3{
  font-size: 1.7rem;
  margin-left: 5px;
}

.menu_title{
  margin:  20px auto;
}
.menu_title h2{

  font-size: 24px;
  font-weight: 800;
  color: #2d2d2d;
   margin: 0 auto;
}
.menu_title p{
   
  font-size: 20px;
  margin: 20px auto;
  font-weight: 600;
  color: #2d2d2d;

}
.container{

  z-index: 2;
  margin: 0 auto;
  min-width: 260px;
  max-width: 500px;
  padding: 10px;

}